<div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 text-center">
        <div class="stat-card" style="height: 134.385px;">
            <div class="contentContainer">
                <p class="card-number">{{ views }}</p>
                <p class="card-text">{{ 'statistics-view-count' | translate }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 text-center">
        <div class="stat-card" style="height: 134.385px;">
            <div class="contentContainer">
                <p class="card-number">{{ downloads }}</p>
                <p class="card-text">{{ 'statistics-download-count' | translate }}</p>
            </div>
        </div>
    </div>
</div>
