.navbar-brand img {
    max-height: var(--ds-header-logo-height);
    max-width: 100%;
    @media screen and (max-width: map-get($grid-breakpoints, sm)) {
      max-height: var(--ds-header-logo-height-xs);
    }
  }

  .navbar-toggler .navbar-toggler-icon {
    background-image: none !important;
    line-height: 1.5;
  }
  
  .navbar-toggler {
    background-color: black;
    color: white;
  }

  .navbar ::ng-deep {
    a {
      color: var(--ds-header-icon-color);

      &:hover, &focus {
        color: var(--ds-header-icon-color-hover);
      }
    }
  }

  .header-line-1 {
    text-transform: uppercase;
    color: #000;
    font-size: 18.36px;
  }

  .header-line-2 {
    color: #000;
    font-size: 14.04px;
  }

  .navbar-brand.border-right {
    border-right: 1px solid #000 !important;
  }
