<div id="cultural-advice">
  <div id="cultural-advice-panel" [hidden]="isShow" >
    <button id="cultural-advice-close" (click)="toggleDisplay()">X</button>
    <div id="cultural-advice-content" class="container">
      <h2>Cultural advice</h2>
      <p>The Australian National University acknowledges, celebrates and pays our respects to the Ngunnawal and Ngambri people of the Canberra region and to all First Nations Australians on whose traditional lands we meet and work, and whose cultures are among the oldest continuing cultures in human history.</p>
      <p>Aboriginal and Torres Strait Islander peoples are advised that ANU Library collections may include images, names, voices, and other representations of deceased persons.</p>
      <p>Material in the collection may contain terms, language or views that reflect the period in which the item was created and may be considered inappropriate today.</p>
    </div>
  </div>
  <button id="cultural-advice-tab" (click)="toggleDisplay()">Cultural advice</button>
</div>