<div class="container">
  <h1>{{ 'info.privacy.head' | translate }}</h1>
  <p>This privacy notice will explain how The Australian National University uses the personal data we collect from you when you use this repository.</p>
  <h2>What data do we collect?</h2>
  <ul>
    <li>Univeristy ID number</li>
    <li>Personal identification information (Name, Email address, Phone number)
  </ul>
  <h2>How do we collect your data?</h2>
  <p>We collect and process data when you:</p>
    <ul>
      <li>Register to use the ANU Open Research repository</li>
      <li>Use or view the ANU Open Research Repository via your browser's cookies</li>
    </ul>
  <h2>How will we use your data?</h2>
  <p>We collect your data for the purposes of providing you access to deposit content and read restricted contnet within the ANU Open Research Repository</p>
  <h2>How can you have your data corrected?</h2>
  <p>If your data is incorrect, please contact us at repository.admin@anu.edu.au to have your data corrected.</p>
  <p>Information on privacy at The Australian National University can be found at <a href="https://www.anu.edu.au/privacy">https://www.anu.edu.au/privacy</a>
</div>
