nav.navbar {
    align-items: baseline;
  }
  
  /** Mobile menu styling **/
  @media screen and (max-width: map-get($grid-breakpoints, md)-0.02) {
    .navbar {
      width: 100%;
      background-color: var(--bs-white);
      position: absolute;
      overflow: hidden;
      height: 0;
      z-index: var(--ds-nav-z-index);
      &.open {
        height: 100%; //doesn't matter because wrapper is sticky
      }
    }
  }

  @media screen and (min-width: map-get($grid-breakpoints, md)) {
    .reset-padding-md {
      margin-left: calc(var(--bs-spacer) / -2);
      margin-right: calc(var(--bs-spacer) / -2);
    }
  }
  
  /* TODO remove when https://github.com/twbs/bootstrap/issues/24726 is fixed */
  .navbar-expand-md.navbar-container {
    @media screen and (max-width: map-get($grid-breakpoints, md)-0.02) {
      > .navbar-inner-container {
        background-color: black;
        padding: 0 var(--bs-spacer);
        /* z-index: 10; */
        a.navbar-brand {
          display: none;
        }
        }
      .navbar-nav {
          ::ng-deep a.nav-link {
            color: white;
          }
      }
      padding: 0;
    }
  }
  
  a.navbar-brand img {
    max-height: var(--ds-header-logo-height);
  }

  .navbar-nav {
    ::ng-deep a.nav-link {
      color: var(--ds-navbar-link-color);
    }
  }
