<ds-page-with-sidebar [id]="'statistics-page'" [sidebarContent]="sidebarContent">
  <ng-template *ngTemplateOutlet="statisticsContent"></ng-template>
</ds-page-with-sidebar>
<ng-template #statisticsContent>
  <ng-container *ngVar="(scope$ | async) as scope">
    <div class="d-flex justify-content-between">
      <h2 *ngIf="scope" class="header" id="{{ scope.id }}">
        {{ 'statistics.header' | translate: { scope: getName(scope) } }}
      </h2>
      <button (click)="writeData()" class="export-button btn btn-dark btn-sm" title="Export statistics as CSV"
        aria-label="Export statistics as CSV"><i class="fas fa-file-export fa-fw"></i></button>
    </div>
  </ng-container>

  <ng-container *ngVar="(reports$ | async) as reports">
    <ng-container *ngIf="!reports">
      <ds-themed-loading></ds-themed-loading>
    </ng-container>
    <ng-container *ngIf="reports">
      <ds-statistics-table *ngFor="let report of reports" [selectedValue]="selectedValue" [report]="report"
        class="m-2 {{ report.id }}">
      </ds-statistics-table>
      <div *ngFor="let report of reports">
        <div *ngIf="report.reportType === 'TotalVisitsDownloads'">
          <ds-total-views-downloads [report]="report"></ds-total-views-downloads>
        </div>
      </div>
      <div *ngIf="!(hasData$ | async)">
        {{ 'statistics.page.no-data' | translate }}
      </div>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #sidebarContent>
  <div class="setting-option mb-3 p-3">
    <h5>
      <label id="viewbyfilter" for="c-optselect">View By</label>
    </h5>
    <select id="c-optselect" label="testtsts" [(ngModel)]="selectedValue" class="form-control"
      (ngModelChange)="onOptionsSelected(selectedValue)">
      <option *ngFor="let type of types" [value]='type'>{{ type }}</option>
    </select>
  </div>

  <div class="setting-option mb-3 p-3" id="selectitems">
    <h5>
      <label for="otherfilter">Display top items</label>
    </h5>
    <input type="number" id="otherfilter" aria-label="otherfilter" [(ngModel)]="filterValue" min="1" max="20"
      class="form-control" placeholder="Enter a number to filter" (keyup.enter)="onNumberChange(filterValue)">
    <button class="btn btn-outline-secondary" type="submit" (click)="onNumberChange(filterValue)">Submit</button>
  </div>

  <form class="w-200" [formGroup]="formData">
    <div class="setting-option mb-3 p-3">
      <h5>
        <label>Filter</label>
      </h5>
      <div class="col-6 form-group mb-0">
        <ds-date-picker-range (dateChange)="getChangeFromDatePicker($event)"></ds-date-picker-range>
      </div>
    </div>
  </form>
</ng-template>
