.bg-black {
    background-color: #000;
    color: #fff;
}

.h1 {
    font-size: 2.1em;
    font-family: 'Public sans';
}

.a {
    color: #be830e;
    text-decoration: unset;
}

.bg-black-button {
    color: white;
    background-color: black;
    border: 1px #FFF solid;
    border-radius: 4px;
}
